version: "3.9"

services:
  app:
    build: .
    ports:
      - "5173:5173"
    depends_on:
      - ollama
    environment:
      - OLLAMA_HOST=http://ollama:11434
      - APP_LISTEN=0.0.0.0

  ollama:
    image: ollama/ollama
    command: serve
    ports:
      - "11434:11434"
    environment:
      - OLLAMA_LISTEN=0.0.0.0
    
    volumes:
      - ollama:/root/.ollama

volumes:
  ollama: